---
import type { Daily } from "../api";

const { user, daily } = Astro.props;

const response = await fetch(
    `https://leetcode-api-pied.vercel.app/user/${user}/solved`,
);
let sub: RecentSubmissions = await response.json();
const solvedDaily = sub.solved_slugs.includes(daily.question.titleSlug);

interface RecentSubmissions {
    username: string;
    total_solved: number;
    solved_slugs: string[];
    solved: Solved[];
}

interface Solved {
    title_slug: string;
    title: string;
    timestamp: string;
}
---

<div class="card bg-base-100 shadow-sm">
    <div class="card-body flex flex-row items-center justify-between">
        <div>
            <h2 class="card-title">{sub.username}</h2>

            <p>{sub.total_solved} solved</p>
            <p>
                Daily
                {solvedDaily ? " solved" : " not solved"}
            </p>
        </div>
        <img
            class=`w-30 ${solvedDaily ? "aura" : ""}`
            alt="Random cat picture from catass.com"
            src={`https://cataas.com/cat/says/${sub.username}?fontSize=20&height=200&width=200`}
        />
    </div>
</div>
